In [1]:
import pandas as pd

In [10]:
data1 = pd.read_csv('corona.csv')

In [11]:
data1.head()

        fever  bodypain  age  runnyNose  diffBreath  probability
0   99.291565         1   72          0           1            1
1  100.644834         0   57          1           1            0
2  100.298684         0    1          1           1            0
3  101.117894         1   85          0           0            1
4   98.710084         1   54          0           1            1

In [12]:
data1.tail()

           fever  bodypain  age  runnyNose  diffBreath  probability
2101  101.415464         0   80          0           0            0
2102  101.895905         1   38          0           1            1
2103   99.314766         0   32          0          -1            0
2104   98.406080         0   68          0           1            1
2105   99.779059         0   16          0          -1            1

In [13]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2106 entries, 0 to 2105
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fever        2106 non-null   float64
 1   bodypain     2106 non-null   int64
 2   age          2106 non-null   int64
 3   runnyNose    2106 non-null   int64
 4   diffBreath   2106 non-null   int64
 5   probability  2106 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 98.8 KB

In [14]:
data1['diffBreath'].value_counts()

 1    712
-1    699
 0    695
Name: diffBreath, dtype: int64

In [15]:
data1.describe()

,fever,bodypain,age,runnyNose,diffBreath,probability
count,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000
mean,100.005111,0.504748,50.710351,0.489079,0.006173,0.504274
std,1.164653,0.500096,28.890812,0.499999,0.818701,0.500100
min,98.000664,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.995147,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.006823,1.000000,51.000000,0.000000,0.000000,1.000000
75%,101.003244,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.997881,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [9]:
import numpy as np

In [16]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices] , data.iloc[test_indices]

In [17]:
train, test = data_split(data1, 0.2)

In [18]:
train

           fever  bodypain  age  runnyNose  diffBreath  probability
874    99.312449         1   72          0          -1            1
650   100.701048         1   38          0           1            1
2045   98.114434         1   67          0           0            1
1939  101.559869         1   37          1           1            1
1561  100.610830         1   14          0           1            1
...          ...       ...  ...        ...         ...          ...
1638  101.301907         1   39          1          -1            0
1095   98.584896         0   65          1           1            1
1130  101.724159         1    2          1           1            1
1294   99.601492         1   56          1           1            1
860    98.575030         0   37          0          -1            1

[1685 rows x 6 columns]

In [20]:
test

           fever  bodypain  age  runnyNose  diffBreath  probability
1433   98.486970         1   75          0           0            1
342    99.443512         0   85          0           1            1
984    99.596173         1   63          1           1            0
2008  100.168577         1   62          0           1            1
1343  101.003587         0   65          0          -1            0
...          ...       ...  ...        ...         ...          ...
678   100.969589         0    1          1          -1            0
552    99.256664         0   11          0           0            1
781   101.505394         1   40          1          -1            0
479    98.099456         0   28          0          -1            1
617   101.083832         1   63          1          -1            0

[421 rows x 6 columns]

## Features

In [28]:
X_train = train[['fever','bodypain','age','runnyNose','diffBreath']].to_numpy()
X_test = test[['fever','bodypain','age','runnyNose','diffBreath']].to_numpy()

## Labels

In [33]:
Y_train = train[['probability']].to_numpy().reshape(1685,)
Y_test = test[['probability']].to_numpy().reshape(421,)

In [36]:
Y_train

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

## Now Train the data

In [37]:
from sklearn.linear_model import LogisticRegression

In [38]:
clf = LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression()

In [63]:
inputFeatures = [99,1,20,1,0]
probability = clf.predict_proba([inputFeatures])[0][1]

In [64]:
probability

0.5382832156684637